<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Redirect Example</title>
  <!-- <script>
    window.env = {
        BACKEND_URL: "{{ backend_url }}",
        BACKEND_PORT: "{{ backend_port }}"
    };
  </script> -->
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <h1>Войти</h1>
  <div id="wrapper">
    <form id="signin" method="post" action="" autocomplete="off">
      <input type="text" id="user" name="user" placeholder="логин" />
      <input type="password" id="pass" name="pass" placeholder="пароль" />
      <button id="redirectButton" type="submit">&#xf0da;</button> 
      <p>Забыли пароль? <a href="#">Востановить</a></p>
    </form>
  </div>

  <script>
    document.getElementById('redirectButton').addEventListener('click', function(event) {
      event.preventDefault(); // Предотвращаем стандартное поведение формы

      let user = document.getElementById('user').value;

      fetch('/api/user_in_db', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ user_id: user })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = '/notification-settings';
        } else {
          alert('User not found in database');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  </script>
</body>
</html>
